.statistics {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 370px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;   
    box-shadow: 0 0 10px #c6cccced;
    border-radius: 2px;
  
}

.title {
    font-weight: 700;
    font-size: 20px; 
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 30px;
    color: rgb(63, 61, 61);;
}

.statList {
    display: flex;
    justify-content: space-evenly;
    width: 370px;
    padding:0;
    
}

.item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: inherit;
    align-items: center;
}

.label {
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.percentage {
    font-weight: 700;
    font-size: 20px;
    color: black;
}
