table {
    width: 370px;
    margin-top: 30px;
    box-shadow: 0 0 10px #c6cccced;
    border-radius: 2px;
    
    }

    thead {
    background-color: aqua;
    border-collapse: collapse;
        border: 1px solid #666;
}

table th {
   padding-top: 20px;
   padding-bottom: 20px;
   text-transform: uppercase;
   
}

table tr {
    display: flex;
    justify-content: space-around;
    
    border-spacing: 10px;
    border-collapse: collapse;
    border: 1px solid #666;
    
}

table td {
padding-top: 10px;
padding-bottom: 10px;
color: rgb(99, 96, 96);
}

tbody tr {
    background-color: rgb(240, 226, 226);
    margin-bottom: 5px;
}